@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --primaryBackground: #212222;
  --secondaryBackground: #2f3030;
  --primaryColor: #81D8F7;
  --primaryHover: #68b4cf;
  --greyDark: #7d8792;
  --headingColor: #2d2e2e;
  --white: #fff;
  --whiteHover: rgb(206, 198, 198);
  --black: #000;
  --blackHover: rgba(0, 0, 0, 0.158);
  --silver: #bac8d3;
}

