.container {
  z-index: -1;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

// .erroField{
//   margin-top: 10px;
//   color: red;
// }
// .textSignup{
//   margin-top: 15px;
//     a{
//       color: var(--primaryColor);
//     }
// }
